
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">



    <div id = "container" class="home">
        <div class = "left_side">
            <div class = "word_container">
                <h1>Every Ball Counts</h1>
                <div class = "word_text">
                    Committing is hard. Counting is time consuming -- so don't. <br>
                    Let us help you figure out the statistics that will improve your performance. <br>
                    Try one Table Tennis Lesson. <br>
                    Absolutely for free.
                </div>
                <button class = "button_container btn success">Try for Free</button>
                <button class = "button_container btn warning">Learn more</button>
            </div>

        </div>
        <div class = "right_side">
          <div>
            <img src="<%= image_path("bw.jpg")%>" style="width:550px;">
          </div>
        </div>

    </div>
