<div id = "container">
    <div id = "navbar", style = "margin-bottom: 5%">
        <ul>
            <li><%= link_to "Get a Pass", pass_path, :class => 'navbar-link-black'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link-black'  %></li>
            <li><a class = "link-color" href="#home">Community</a></li>
            <li><a class = "link-color" href="#home">Pricing</a></li>
            <li><a class = "link-color" href="#home">How it works</a></li>
            <li><a class = "link-color" href="#home">Why Table Tennis</a></li>
        </ul>
    </div>
    <div class = "half_side">
        <div class = "left_side">
            <div class = "text">
                <h1>Start with a free trial</h1>
                <div>Access the world’s most innovative table tennis club, 
                take classes with top rated coaches, use technology to help 
                you improve your level</div>
            </div>
        </div>
        <div class = "right_side">
            <div class = "text">
                <h1>What's included in your free pass?</h1>
                <a href="#">1 WEEK FREE!</a>
                <!--should be link or not?-->
                <p style = "margin-top: 25px">$0 first 1 week's drop-in play</p>
                <p>Play up to 5 times in 7 days.</p>
                <p style = "margin-top: -15px">You're never locked in. Cancel anytime.</p>
                <a href = "#" style = "color: black; font-weight: bold">Start your trial</a>
            </div>
        </div>
    </div>
    <div class = "half_side">
        <div class = "middle">
            <h1 style = "font-size: 25px">A membership that's more than just play</h1>
            <ul>
                <li>Play with 500+ players</li>
                <li>Book Classes Online</li>
                <li> Get class recommendations and access class reviews</li>
                <li>Invite your friends to play and get rewarded</li>
                <li>Stream your game from home</li>
                <li>Analyze your game and improve your winning rate</li> 
            </ul>
        </div>
    </div>
    
            
        
</div>