<%= form_for :user, url: booking_path do |f| %>
  <table class="table table-hover">
    <tbody>
      <% if @coach_availabilities.empty? %>
        <h3> No Availabilities Found </h3>
      <% end %>
      <% @coach_availabilities.each do |record| %>
        <tr>
          <td><%= f.radio_button :temp_availability, "temp_availability"%></td>
          <td><%= f.label :temp_availability, record.day + record.start_time.strftime("%l:%M%p") + " - " + record.end_time.strftime("%l:%M%p"), value: record.day + record.start_time.strftime("%l:%M%p") + " - " + record.end_time.strftime("%l:%M%p") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.submit value: 'Next' %>
<% end %>
