// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#container.home {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    position: relative;
}

#navbar {
    width: 100vw;
    height: 40px;
    // background-color: red;
}

#navbar ul {
    list-style-type: none;
    // padding: 10px;
    margin-right: 60px;
}

#navbar ul li {
    float: right;
    display: inline;
//   margin: 30px;
    padding: 10px;
    font-size: 16px;
}

.navbar-link-black {
    color: black;
}

.navbar-link-black:hover {
    color: black;
}

.left_side {
    // display: inline;
    height: 90%;
    width: 40%;
    // background-color: black;
    float: left;
    position: relative;
}

.word_container {
    // display: inline;
    position: absolute;
    width: 94%;
    // height: 200px;
    // margin: 0, auto;
    margin:0 20px;
    left: 50%;
    top: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Titillium Web', sans-serif;
}

.word_container h1 {
    font-size: 45px;
    font-weight: bold;
    // font-family: 'Titillium Web', sans-serif;
    font-family: 'Lobster', cursive;
    margin-bottom: 30px;
}

.word_text {
    width: 100%;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

.button_container {

    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 50px;
    cursor: pointer;
    // position: absolute;
}

.right_side {
    // display: inline;
    height: 90%;
    width: 60%;
    float: right;
    // background-color: red;

    img {
        margin-left: 20px;
        width: 94%;
        border: 1px solid #ddd;
        border-radius: 15px;
        padding: 15px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.half_side {
    // margin-top: 5%;
    height: 45%;
    width: 100%;
    // background-color: red;
    position: relative;
}

.link-color {
    color: black;
}

.half_side .left_side {
    width: 70%;
    height: 50%;
    bottom: 0;
    position: absolute;
    // background-color: black;
}

.half_side .left_side .text {
    width: 70%;
    height: 100%;
    // position: absolute;
    // left: 50%;
    // background-color: black
    margin: auto;
//     -ms-transform: translateX(-50%);
//     transform: translateX(-50%);
}

.half_side .left_side .text h1 {
    font-size: 25px;
    margin-bottom: 25px;
}


.half_side .right_side {
    width: 30%;
    height: 100%;
    float: right;
    // left: 0;
    // position: absolute;
    // background-color: green;
}

.half_side .right_side .text {
    width: 100%;
    height: 80%;
    bottom: 0;
    position: absolute;
    // background-color: green;
}

.half_side .right_side .text h1 {
    font-size: 25px;
    margin-bottom: -3px;
    // margin-bottom: 25px;
}

.half_side .middle {
    width: 35%;
    height: 80%;
    // background-color: black;
    position: absolute;
    margin:auto;
    left: 50%;

    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#profile_info {
    width: 100vw;
    height: 150px;
    background-color: yellow;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Green */
  .btn.success {
    border-color: #4CAF50;
    color: green;
  }

  .btn.success:hover {
    background-color: #4CAF50;
    color: white;
  }

  /* Blue */
  .btn.info {
    border-color: #2196F3;
    color: dodgerblue
  }

  .btn.info:hover {
    background: #2196F3;
    color: white;
  }

  /* Orange */
  .btn.warning {
    border-color: #ff9800;
    color: orange;
  }

  .btn.warning:hover {
    background: #ff9800;
    color: white;
  }