<p>Hello <%= @resource.name %>!</p>
<p> Welcome to the Club!</p>
<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<br> Welcome to the Team!
<br> - The Project Elevate Team 
</p>
