
<h2 class="text-center">Thanks, you paid <strong> <%= number_to_currency(@amount_in_create) %></strong>!</h2>
<p class="text-center">Thank you for booking a lesson!<br /></p>

<br> <%= link_to "Back to Home Page", root_path, class: "btn btn-link" %>

